@mixin absolute-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);	
}
@mixin no-padding{
	margin: 0;
	padding: 0;
}
@mixin active-color{
	background: $main-color;
	color: #fff;
}
@mixin btn-group($active: false){
	&-btn{
		flex: 1;
		height: 100%;
		font-size: large;
		@include btn($active: $active);
		&:first-child{
			border-top-left-radius: $button-radius;
			border-bottom-left-radius: $button-radius;
		}
		&:last-child{
			border-top-right-radius: $button-radius;
			border-bottom-right-radius: $button-radius;
		}
	}
}
@mixin btn($active: false){
	outline: none;
	background: inherit;
	color: $main-color;
	border: 1px solid $main-color;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: bold;
	&:active{
		@include active-color;
	}
	@if $active{
		&-active{
			@include active-color;
		}
	} 
	@media screen and (min-width: 600px){
		&:hover{
			@include active-color;
		}
	}
}