$main-color: #396;
$background-color: #fff;
$won-color: red;
$cell-color: $main-color;
$empty-opacity: 0.2;
$empty-color: $main-color;
$button-radius: 6px;
$button-height: 30px;
$button-width: 95%;
$board-height: 50%;
$board-width: 80%;
$my-font-family: "quicksand";
$app-width: 400px;
$app-height: 650px;

@font-face{
    src: url("../fonts/first-quicksand.otf");
    font-family: "quicksand";
}

