@import "variables";
@import "mixins";
#app{
    @include absolute-center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: $app-width;
    height: $app-height;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: $app-width){
        width: 100%;
    }
    @media screen and (max-height: $app-height){
        height: 100%;
    }
}

*{
    font-family: $my-font-family;
    @include no-padding;
}
.title{
    text-transform: capitalize;
    color: $main-color;
}

.easy{
    display: flex;
    width: 60%;
    height: $button-height - 5px;
    @include btn-group();
}