@import "variables";
@import "mixins";
#app{
    @include absolute-center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: $app-width;
    height: $app-height;
    @media screen and (max-width: $app-width){
        width: 100%;
    }
    @media screen and (max-height: $app-height){
        height: 100vh;
    }
}

*{
    font-family: $my-font-family;
    @include no-padding;
}
