@import "variables";
@import "mixins";

.board{
	border: hidden;
	border-collapse: collapse;
	width: $board-width;
	height: $board-height;
	min-height: $board-height;
	@media screen and (min-height: 600px){
		height: 50%;
	}
}

.cell{
	width: calc(100% / 3);
	height: calc(100% / 3);
	border: 1px solid $cell-color;
	color: $cell-color;
	text-align: center;
	box-sizing: border-box;
	font-size: larger;
	font-weight: bold;
	cursor: pointer;
}
.won{
	color: $won-color;
	animation: blink 200ms linear infinite;
}

.empty{
	background-color: $empty-color;
	opacity: $empty-opacity;
}

@keyframes blink{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
