@import "variables";
@import "mixins";

.board{
	border: hidden;
	border-collapse: collapse;
	background: inherit;
	width: $board-width;
	height: $board-height;
}

.cell{
	border: 1px solid $cell-color;
	width: calc(100% / 3);
	height: calc(100% / 3);
	color: $cell-color;
	text-align: center;
	box-sizing: border-box;
	font-size: larger;
	font-weight: bold;
}

.won{
	color: $won-color;
	animation: blink 500ms linear infinite;
}

.empty{
	background-color: $empty-color;
	opacity: $empty-opacity;
}

@keyframes blink{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
