@import "variables";
@import "mixins";

.score{
    @include flex;
    justify-content: space-around;
    align-items: center;
    color: $main-color;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    width: 95%;
}